@charset "UTF-8";

/*Versão para as demais medias*/

/*Typical Device Breakpoints
Mobile devices: 320px até 480px
Tablets: de 481px até 768px
Laptops: 769px até 1024px
Desktop: 1025px até 1200px
Grandes telas: acima de 1201px*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    main {
        border: 1px solid black;
    }
    main h1 {
        color: black;
        text-shadow: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) { /*Tablet*/
    body {
        background: url(../imagens/back-tablet.jpg);
    }

    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 1025px) and (max-width: 1200px) { /*Desktop*/
    body {
        background: url(../imagens/back-pc.jpg);
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: block;}
    img#tv { display: none;}
}

@media screen and (min-width: 1201px) { /*Grandes telas*/
    body {
        background: url(../imagens/back-tv.jpg);
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: block;}
}